* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FF6EFF;
    --secondary-color: #3EFF3E;
    --winning-blocks: #FFFF00;
    --draw-blocks: #FF0000;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: #fff;
}

.container {
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 54px;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 30px;
    text-shadow: 0 0 10px var(--primary-color);
}

#gameboard {
    width: 360px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin-top: 40px;
}

.box {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 72px;
    background-color: var(--primary-color);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 0 10px rgba(255, 110, 255, 0.7);
}

.box:hover {
    background-color: var(--secondary-color);
    color: #000;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.9);
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: #000;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: var(--primary-color);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}
